<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLogSample"/>
    </extensions>
    <targets>
      <target xsi:type="Console" name="console" />
      <target xsi:type="Debugger" name="debugger" />
	    <target xsi:type="MemoryTargetEx" name="memoryex"/>
      <target xsi:type="File"
              name="file"
              fileName="../../logs/NLogSample.log"
              layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
              archiveFileName="../../logs/NLogSample.{#}.log"
              archiveNumbering="Rolling"
              archiveAboveSize="1048576"
              maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="memoryex,console,debugger,file" />
    </rules>
  </nlog>
</configuration>
